<!-- <div class="parent" > -->
    <div class="body" id="capture" [ngStyle]="{'width' : width ? width+'px' : '500px','height': height ? height+'px' : '400px'}">
        <img [src]="image" class="background" height="100%" width="100%" alt="Background image" *ngIf="image"[ngStyle]="{'width' : width ? width+'px' : '500px','height': height ? height+'px' : '400px'}">
        <!-- added cdkDrag directive -->
        <!-- for this I have updated angular CLI to latest version 15 -->
        <div class="title" cdkDragBoundary=".body" cdkDrag *ngIf="title">{{title}}</div>
        <div class="contact" cdkDragBoundary=".body" cdkDrag *ngIf="contact">{{contact}}</div>
        <div class="logo" cdkDragBoundary=".body" cdkDrag *ngIf="logo">
            <img [src]="logo" height="40" width="40" alt="logo" [ngStyle]="{'width' : logoWidth ? logoWidth+'px' : '40px','height': logoHeight ? logoHeight+'px' : '40px'}"/>
        </div>
    </div>
    <div class="bottomButtons" *ngIf="submitted" [ngStyle]="{'width' : width ? width+'px' : '500px'}">
        
        <button type="button" class="submitbtn download" (click)="capturar()" *ngIf="!modified">
                Finalize
    </button>
        <button type="button" class="submitbtn download" *ngIf="modified">
            <a [href]="banner" target="_self" download style="text-decoration: none;color:white;">
                Download Banner
            </a>
    </button>
    <button type="submit" class="submitbtn more" (click)="editMore()">
        Edit More
    </button>
</div>
<!-- </div> -->